<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    This is the home page

    <a href="https://accounts.zoho.com/oauth/v2/auth?scope=ZohoMail.accounts.READ,ZohoMail.partner.organization.READ,ZohoMail.organization.groups.READ,ZohoMail.messages.READ&client_id=1000.MZ4J94ZXAJB2997AD7X78D2L2AICFK&response_type=code&redirect_uri=http://localhost:8000&access_type=offline">Authenticate Zoho</button>
    <!-- <a href="https://accounts.zoho.com/oauth/v2/auth?scope=ZohoMail.accounts.READ,ZohoMail.partner.organization.READ,ZohoMail.organization.groups.READ,ZohoMail.messages.READ&client_id=1000.MZ4J94ZXAJB2997AD7X78D2L2AICFK&response_type=code&redirect_uri=https://ghseet.now.sh&access_type=offline">Authenticate Zoho</button> -->
    <script>
    </script>
</body>

</html>